{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col">
        <div class="text-center">
            <img class='beer_images' src="{% static beer.Image %}">
            <h2>{{ beer.Name}}</h2>
        </div>
    </div>

    <div class="col">
        <div class="text-center"><h6>ㅤ</h6></div>
        <div class="text-center"><h6>ㅤ</h6></div>
        {% if beer.Mark == 5 %}
            <div class="text-center">
                <img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}">
            </div>
        {% endif %}

        {% if beer.Mark == 4 %}
            <div class="text-center">
                <img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}">
            </div>
        {% endif %}

        {% if beer.Mark == 3 %}
            <div class="text-center">
                <img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}">
            </div>
        {% endif %}

        {% if beer.Mark == 2 %}
            <div class="text-center">
                <img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}">
            </div>
        {% endif %}

        {% if beer.Mark == 1 %}
            <div class="text-center">
                <img class='star_image' src="{% static 'images/star.png' %}">
            </div>
        {% endif %}

        <div class="text-center"><h6>{{beer.Description}}</h6></div>
        <div class="text-center"><h6>Крепкость: {{beer.Strength}}</h6></div>
        <div class="text-center"><h6>Производство: {{beer.Origin}}, {{beer.Amount}} л.</h6></div>
        <div class="text-center"><h4>{{beer.Price}}.00 ₽</h4></div>
    </div>

    <div class="col">
        <div class="card" style="width: 21rem;">
          <div class="card-body">
            <h5 class="card-title">Выгоднее всего покупать пивасик здесь:</h5>
          </div>
          <ul class="list-group list-group-flush">
            {% for item in discounts %}
                {% for key, val in item.items %}
                    {% if key == 'id' %}
                        <a href="/particular_shop/{{val}}">
                    {% else %}
                    {% if key == 'address' %}
                    <li class="list-group-item">{{val}}:
                        {% endif %}
                        {% if key == 'cost' %}
                            <h6>ㅤПо скидке:<b> {{val}}.00 ₽</b></h6>
                        {% endif %}
                    </li>
                    </a>
              {% endif %}
              {% endfor %}
            {% endfor %}
          </ul>
        </div>
    </div>
    <div class="col">
        <div class="card" style="width: 21rem;">
          <div class="card-body">
            <h5 class="card-title">Есть в наличии по адресам:</h5>
          </div>
          <ul class="list-group list-group-flush">
             {% for shop in shops %}
                <a href="{% url 'index' %}">
                    <h6><li class="list-group-item">{{ shop.Address }}</li></h6>
                </a>
              {% endfor %}
          </ul>
        </div>
    </div>
</div>

<hr>

    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input class='btn btn-primary' type="submit" value="Отправить отзыв" />
    </form>


        <hr>
    <div class="text-center">
        <h2>Отзывы к товару:</h2>
    </div>


    {% for feedback in feedbacks %}
    <div class="card">
      <div class="card-header">
          <h5>{{ feedback.Username}}</h5>
      </div>
      <div class="card-body">
        <blockquote class="blockquote mb-0">
            {% if feedback.Mark == 5 %}
                <img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}">
            {% endif %}

            {% if feedback.Mark == 4 %}
                <img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}">
            {% endif %}

            {% if feedback.Mark == 3 %}
                <img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}">
            {% endif %}

            {% if feedback.Mark == 2 %}
                <img class='star_image' src="{% static 'images/star.png' %}"><img class='star_image' src="{% static 'images/star.png' %}">
            {% endif %}

            {% if feedback.Mark == 1 %}
                <img class='star_image' src="{% static 'images/star.png' %}">
            {% endif %}
            <p>{{ feedback.Text }}</p>
        </blockquote>
      </div>
    </div>
    {% endfor %}
{% endblock %}