{% extends 'base.html' %}


{% block content %}
<div class="text-center">
    <h1>Пивасик Улыбасик</h1>
    <h3>Пива - сила, спорт - могила!!</h3>
    <hr>
    <h2>{{ shop.Address}}</h2>
</div>
<div class="text-center">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa190807c45a545840e472d39d196da7f52b9afd0e1398179e1703f7f7e9f264a&amp;width=1160&amp;height=578&amp;lang=ru_RU&amp;scroll=true"></script>
</div>
{% endblock %}
