{% load static %}
{% include 'head.html' %}

<link rel="stylesheet" href="{% static 'css/about_us.css' %}" />
<script src="https://kit.fontawesome.com/1cf483120b.js" crossorigin="anonymous"></script>
{% include 'header.html' %}
<body>
    <header class="masthead">
        <p class="masthead-intro">Пивасик Улыбасик</p>
        <h1 class="masthead-heading">В чём сила, брат? В пиве, брат!</h1>
    </header>
    <section class="introduction-section">
        <div class="container">
            <h3>Сбор и использование личной информации:</h3>
            <p>Мы собираем личную информацию, такую как имя, адрес электронной почты, номер телефона и адрес доставки, только для целей обработки заказов, обратной связи и улучшения обслуживания клиентов. Мы не раскрываем вашу личную информацию третьим лицам без вашего согласия.</p>
        </div>
    </section>
    <section class="location-section">
        <div class="container">
            <h3>Защита личной информации:</h3>
            <p>Мы принимаем все меры предосторожности, чтобы защитить вашу личную информацию от несанкционированного доступа, использования или разглашения. Мы обеспечиваем безопасность ваших персональных данных с помощью безопасных технологий и процедур.</p>
        </div>
    </section>
    <section class="questions-section">
        <div class="container">
            <h3>Использование файлов cookie:</h3>
            <p>Мы можем использовать файлы cookie для сбора информации о вашем использовании нашего веб-сайта с целью улучшения пользовательского опыта. Вы можете отключить файлы cookie в настройках вашего браузера, но это может повлиять на функциональность нашего сайта.</p>
        </div>
    </section>
    <section class="location-section">
        <div class="container">
            <h3>Рассылка рекламных сообщений:</h3>
            <p>Мы можем использовать вашу контактную информацию для отправки вам информационных и рекламных сообщений о наших товарах и акциях. Вы можете отказаться от подписки на эти рассылки в любое время.</p>
        </div>
    </section>
    <section class="location-section">
        <div class="container">
            <h3>Изменения в политике конфиденциальности:</h3>
            <p>Мы оставляем за собой право вносить изменения в нашу политику конфиденциальности. Любые изменения будут опубликованы на нашем веб-сайте, и ваше дальнейшее использование сайта будет означать ваше согласие с обновленной политикой.
</p>
        </div>
    </section>
    <section class="location-section">
        <div class="container">
            <p>Если у вас возникнут вопросы или предложения по поводу нашей политики конфиденциальности, пожалуйста, свяжитесь с нами. Благодарим за ваше доверие и покупки в нашем пивном магазине.</p>
        </div>
    </section>
    <footer class="footer mt-auto py-3">
                {% block footer %}
                    {% include 'footer.html' %}
                {% endblock %}
      </footer>
</body>