{% load static %}
<link rel="stylesheet" href="{% static 'css/indexfooter.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  	 <div class="container">
  	 	<div class="row">
  	 		<div class="footer-col">
  	 			<h4>Пивасик Улыбасик</h4>
  	 			<ul>
  	 				<li><a href="{%url 'about_us' %}">О компании</a></li>
					<li><a href="#">Новости</a></li>
  	 				<li><a href="{%url 'privacy_policy' %}">Политика Конфиденциальности</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Полезные ссылки</h4>
  	 			<ul>
  	 				<li><a href="{%url 'catalog' %}">Каталог</a></li>
  	 				<li><a href="{% url 'vacancy' %}">Вакансии</a></li>
  	 			</ul>
  	 		</div>
			<div class="footer-col">
  	 			<h4>Служба поддержки</h4>
  	 			<ul>
  	 				<li><a href="#">Связаться с поддержкой</a></li>
  	 				<li><a href="#">+7 989 542 12-13</a></li>
  	 				<li><a href="#">help@help.com</a></li>
  	 			</ul>
  	 		</div>
  	 		<div class="footer-col">
  	 			<h4>Наши соцсети</h4>
  	 			<div class="social-links">
  	 				<a href="#"><i class="fab fa-facebook-f"></i></a>
  	 				<a href="#"><i class="fab fa-twitter"></i></a>
  	 				<a href="#"><i class="fab fa-instagram"></i></a>
  	 				<a href="#"><i class="fab fa-linkedin-in"></i></a>
  	 			</div>
  	 		</div>
  	 	</div>
  	 </div>
